body
{
    color: white;
    background: rgb(144, 76, 89);
}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
.name_of_relatives, #result_relative_name, #result_relative_accuracy
{
    color: yellow;
}